/* 입금관련 css */
.btnDel { line-height:25px !important; height:25px !important;}
.cash-list0021 td { border-bottom: solid 1px #ccc;}
.cash_notice_zone {
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
    background: #eee;
    border: solid 1px #ccc;
}
.cash_notice_zone {
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
    background: #eee;
    border: solid 1px #ccc;
}
.cash_notice_zone ul {
    padding: 15px 20px;
}
.cash_notice_zone li {
    color: #000;
    margin-bottom: 10px;
    font-size:12px;
}
.cash_zone_table {
    border: solid 1px #ccc;
    border-bottom: none;
    background: #eee;
}
.cash_zone_table th {
    padding: 0 10px;
    color: #000;
    background: #eee;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cash_zone_table td {
    border-bottom: 1px solid #ccc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ui_btn_green {
    background: rgb(20,179,32) !important;
    cursor: pointer;
}
.ui_btn_blue {
    background: rgb(21,60,184) !important;
}
.cash_notice_zone .title {
    text-align: left;
    font-size: 14px;
    padding: 15px 0 12px 0;
    font-family: NanumGothic, Malgun Gothic, sans-serif;
    color: #000;
    font-weight: 800;
    background: #eee;
    border-bottom: solid 1px #ccc;
    padding-left: 15px;
}
.cash_bottom_btn {
    padding: 20px;
    text-align: center;
}
.cash_bottom_btn button {
    display: inline-block;
}
.ui-button_red {
    background: #cc001b !important;
}
.tf_pagination_cash {
    padding: 1em 0;
    text-align: center;
    display: block;
}
.tf_pagination_cash ul {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}
.tf_pagination_cash ul li {
    list-style: none;
    margin: 0 !important;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.tf_pagination_cash ul li a {
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 0px;
    display: block;
    color: #000;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    font-family: NotoSansKR !important;
    border: 1px solid #c9c9c9;
    background: #eee;
    border-radius: 10px;
    box-shadow: 2px 4px 5px 1px rgb(0 0 0 / 10%), inset 0 0 6px 1px #fff;
}

.tf_pagination_cash {
    padding: 1em 0;
    text-align: center;
    display: block;
}
.tf_pagination_cash ul {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}
.tf_pagination_cash ul li {
    list-style: none;
    margin: 0 !important;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.tf_pagination_cash ul li a {
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 0px;
    display: block;
    color: #000;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    font-family: NotoSansKR !important;
    background: #eee;
}
.tf_pagination_cash ul li a .fa {
    margin-top: 10px;
}
.fa-chevron-left:before {
    content: "\f053";
}


.bank-time-table {
    font-size:12px;
    border-collapse: collapse;
    border-bottom: none;
    background: #eee;
}
.bank-time-table th {
    padding: 10px;
    color: #000;
    background: #eee;
    border: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-weight:bold;
}
.bank-time-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    color: #222;
}